body {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#login-container {
  background-color: rgba(157, 174, 172, 0.45);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#register-container {
  background-color: rgba(157, 174, 172, 0.45);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#forgot-password-container {
  background-color: rgba(157, 174, 172, 0.45);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.form-group {
  text-align: left;
}

form {
  margin-bottom: 20px;
}

form div {
  margin-bottom: 10px;
}

form label {
  display: inline-block; /* Untuk memungkinkan penyesuaian margin */
  margin-bottom: 5px; /* Menyesuaikan jarak antara label dengan input */
}

form input[type="username"],
form input[type="email"],
form input[type="password"],
form input[type="confirm-password"] {
  width: calc(100% - 16px); /* Menyesuaikan lebar input setelah dipotong padding */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

p {
  margin-bottom: 10px;
}

p a {
  color: rgb(6, 31, 115);
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
